@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Macondo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

main{
    display: flex;
    justify-content: space-between;
}

/* html { outline: 2px solid red; }
body { outline: 2px solid blue; }
section { outline: 2px solid green; }
div { outline: 2px solid brown} */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-link{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: baseline;
}

.page-img {
  width: 50%; /* adjust as you like: 40%, 50%, etc. */
  height: 100vh; /* full vertical height */
  overflow: hidden; /* hides any overflow */
}

.page-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes the image fill without distortion */
  display: block;
}

.right-side{
    width: -webkit-fill-available;
    height: auto;
    background-color:#f5f5f5;
}

.tex-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tex-cont h2{
    font-size: 3.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.tex-cont p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.8rem;
    color:rgb(216, 216, 230);
    padding-top: 5px;
    
}

.acc-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    height: 80%;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logo h1{
    padding: 10px;
    font-family: 'Didot', serif;
    font-style: italic;
    color: rgb(59, 59, 59);
}

.ret-link{
    display: inline;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
}

.dot{
    border-radius: 50%;
    color: white;
    height: 8px;
    width: 8px;
    background-color: #ff00e2;
    display: flex;
    align-content: flex-end;
    align-items: baseline;
    justify-content: center;
}

.login-container{
    display: flex;
    padding: 20px;
    gap: 2rem;
    height: auto;
}

.login-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.form-container {
  display: flex;  /* stack vertically */
  gap: 20px;               /* space between each child */
  width: 70%;
}

form input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #B76E79;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    width: 300px;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-text{
    padding: 5px;
}

hr{
    width: 100px;
}

.google-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gog-btn{
    display: flex;
    padding: 10px;
    background-color: transparent;
    color: grey;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 12px 4px 30px rgba(0, 0, 0, 0.1);
}


.gog-btn:hover{
    display: flex;
    justify-content: center;
    width: 250px;
    color: white;
    background-color: #243a76;
    border-color: lightcyan;
    box-shadow: 12px 4px 30px lightblue;
}

.gog-text{
    padding-left: 5px;
    font-size: 15px;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.gog-btn i{
    font-size: 15px;
}

.login-new{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-new a{
    color: #000;
}

@media (max-width: 1500px) {
    input#first-name,
    input#last-name {
    width: 275px;
}
}

@media (max-width: 1300px) {
   input#first-name,
    input#last-name {
    width: 250px; 
}
}

@media (max-width: 1200px) {
   input#first-name,
    input#last-name {
    width: 230px; 
}
}

@media (max-width: 1120px) {
   input#first-name,
    input#last-name {
    width: 200px; 
}
}

@media (max-width: 1000px) {
   input#first-name,
    input#last-name {
    width: 150px; 
}
}

@media (max-width: 770px) {
   input#first-name,
    input#last-name {
    width: 120px; 
}
}

@media (max-width: 670px) {
   input#first-name,
    input#last-name {
    width: 100px; 
}
}


@media (max-width: 430px) {
    .page-img{
        display: none
    }

    *{
        font-size: 12px;
    }

    main{
        height: 100vh;;
    }

    .dot{
        height: 4px;
        width: 4px;
        margin: none;
        padding: none;
    }

    input#first-name,
    input#last-name {
    width: 110px;
}

}
